.profile-element .fa
{
  font-size:30px;
}
.profile
{
  font-size:50px;
}
.pull-center
{
  text-align:center;
}
.login-box
{
  background:#fff;
  padding:20px;
  margin:50px 0;
  border:1px solid #c72e2e;
  /*box-shadow: 2px 4px 20px 2px #1ab394;*/
  float:left;
}
.red
{
color: #ed5565;
}
.modal-header
{
	background: #c72e2e;
}
.modal-title
{
	 width:300px !important;
	 float:left !important;
	 color:#fff;
}
.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
	font-size: 36px;
}
.modal-footer
{
 background:#eef3f7;
}
.ibox-content input[type="file"]
{
	height:0;
	width:0;
	margin-right:10px;
}
.excel-import
{
	width:150px;
}
.excel-import .fa
{
	margin-left:10px;
}
.ibox-content input:focus 
{ 
  border-color:#fff;
   outline: 0;
}
.error
{
	color:red;
	width:100%;
	text-align:left;
}
form input,textarea,select
{
	
	border:1px solid #FCE7C2 !important;	
	height:35.6px;
}
form input,textarea:focus
{
	border:1px solid #FCE7C2 !important;	
	background:#fff !important;
}
.form-control.is-invalid
{
	border-bottom:1px solid red !important;
}
.form-control.is-valid
{
	border-bottom:1px solid #FCE7C2 !important;
}
.datepicker 
{
	border-radius:0px !important;
	
	padding:5px 10px !important;
}
.table-responsive input,textarea
{
	border-bottom:1px solid #FCE7C2 !important;
}

.table-responsive input,textarea:focus
{
	border:1px solid #FCE7C2 !important;
}
.html5buttons
{
	float: right;
    width: 100%;
}
.dataTables_length {
    float: left;
    width: 35%;
    text-align: left;
}
.form-inline label
{
	display:block !important;
}
.form-group textarea
{
	padding:10px 12px;
}
.form-group label {
    float: left;
    text-align: left;
    color: black;
}
td label {
    float: left;
    text-align: left;
    color: #c72e2e;
}
.custom_anchor_primary
{
	background-color: #1ab394 !important;
    border-color: #1ab394 !important;
    color: #FFFFFF !important;
    font-size: 14px !important;
    padding: 10px 20px !important;
    font-weight: 600 !important;
	
}
.modal-header h1 
{
	margin-top:0;
}
.select2-container--default .select2-selection--single
{
	height:33.6px !important;
	border-radius:0 !important;
	border:1px solid #fff !important;
	border-bottom:1px solid #1ab394 !important;	
	padding-top:3px !important;
}
/*Tree Structure*/
* {margin: 0; padding: 0;}

.tree ul {
	padding-top: 20px; position: relative;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
.tree li span
{
	color:#f98404;
	font-size:9px;
}
.tree li i.user-green
{
	color:#1ab394;
}
.tree li i.user-red
{
	color:#ed5565;
}
.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}


.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}


.tree li:only-child{ padding-top: 0;}


.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}

.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}


.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{
	/*border: 1px solid #ccc;
	padding: 5px 10px;*/
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #c8e4f8; color: #000; /*border: 1px solid #94a0b4;*/
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4;
}
/*.tableinput1
{
	width:90px !important;
	font-size:12px !important;
}
.tableinput2
{
	width:110px !important;
	font-size:12px !important;
}
.tableinput3
{
	width:50px !important;
	font-size:12px !important;
}*/
th
{
	font-weight: 600 !important;
   
}
.nopadding
{
	padding:0 !important;
}
.profile-picture {
    border: 1px solid #CCC;
    background-color: #FFF;
    padding: 4px;
    display: inline-block;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .15);
	margin-left: 5px;
}
.label-xlg {
    padding: .3em .7em .4em;
    font-size: 14px;
    line-height: 1.3;
    height: 28px;
}
.label{
	text-align : center;
}
.white{
	color:#FFFFFF;
}
.profile-info-row {
    display: table-row;
}
.profile-user-info-striped .profile-info-name {
    color: #336199;
    background-color: #EDF3F4;
    border-top: 1px solid #F7FBFF;
}
.profile-user-info-striped .profile-info-value {
    border-top: 1px dotted #DCEBF7;
    padding-left: 12px;
}
.profile-user-info-striped {
    border: 1px solid #DCEBF7;
}
.profile-user-info {
    display: table;
    width: 98%;
    width: calc(100% - 24px);
    margin: 0 auto;
}
.profile-info-row:first-child .profile-info-name, .profile-info-row:first-child .profile-info-value {
    border-top: none;
}
.profile-info-row:first-child .profile-info-value {
    border-top: none;
}
.profile-user-info-striped .profile-info-value {
    border-top: 1px dotted #DCEBF7;
    padding-left: 12px;
}
.profile-info-value {
    padding: 6px 4px 6px 6px;
}
.profile-info-name {
    text-align: right;
    padding: 6px 10px 6px 4px;
    font-weight: 400;
    color: #667E99;
    background-color: transparent;
    width: 140px;
    vertical-align: middle;
}
.profile-info-name, .profile-info-value {
    display: table-cell;
}
.uploading
{
	margin-top:-20px;
}
.uploading-success
{
	margin-top:-20px;
	color:green;
}
.uploading-error
{
	margin-top:-20px;
	color:red;
}
#div_status
{
	margin-top:20px;
}
#ajax
{
	display: none;
    position: absolute;
    z-index: 99999;
    width: 100%;
}	
#ajax img
{
	width:300px;
}
.marquee_head
{
	width:58%;
}
.marquee_head marquee
{
	background-color:#1ab394;
    color: #ffffff;
    padding: 3px 0;
    margin-top: 16px;
}
.bill_guide
{
	font-size:10px;
	color:#1ab394;
}
input:focus::-webkit-input-placeholder {
    font-size: .75em;
    position: relative;
    top: -15px; 
    transition: 0.2s ease-out;
}

input::-webkit-input-placeholder {
    transition: 0.2s ease-in;
}

input[type="text"]:focus, input[type="password"]:focus {   
    padding-bottom: 0px;
    transition: 0.2s ease-in;
}

input[type="text"], input[type="password"] {    
    transition: 0.2s ease-in;
}
select {
  /* for Firefox */
  -moz-appearance: none !important;
  /* for Chrome */
  -webkit-appearance: none !important;
}

/* For IE10 
/*
select.form-control
{
	min-width:100px !important;
}
select::-ms-expand {
  display: none !important;
}
select {
  background-image:
    linear-gradient(45deg, transparent 50%, #1ab394 50%),
    linear-gradient(135deg, #1ab394 50%, transparent 50%),
    linear-gradient(to right, #1ab394, #1ab394) !important;
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em !important;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat !important;
}

select:focus {
  background-image:
    linear-gradient(45deg, #1ab394 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, #1ab394 50%),
    linear-gradient(to right, #1ab394, #1ab394) !important;
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em !important;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;  
  outline: 0 !important;
}*/
#fixed_footer
{
	position: fixed;
    left: 0;
    bottom: 0;
    right: 0;    
    padding: 10px 4%;
    background: #fff;
    box-shadow: 0 -3px 6px 0 hsla(0,0%,77%,.25);
	z-index:99999;
	display:none;
	border-top:2px solid #2f4050;
}
#captcha-bg
{
	background:url('../img/captcha.jpg') no-repeat ;
	font-size:25px;
	font-weight:bold;
	color:#000;
	width:30%;
	float:left;
	border:1px solid #000;
}
#captcha-text
{
	margin-left:10%;
	width:60%;
	float:left;
}
.captcha input
{
	height:40px;
}
textarea
{
	height:80px;
}
button .fa
{
	color:#fff !important;
}
#page-wrapper
{
	height:3000px;
}
.form-control:disabled
{
	background:#e9ecef !important;
}
input[readonly]{
  background: #e9ecef !important;
  height:33px !important;
}
form textarea
{
	height:70px;
}
#tbl_div select
{
	width:100px !important;
}
.sml_txt
{
	width:80px;
}
.tfooter
{
	border:none;
}
.tfooter td
{
	background:#fff;
	border:none !important;
}
.ibox-title h5 label
{
	font-weight:normal !important;
}
.currency
{
    text-align:right;
}

.dropdown-item {
    display: block;
    /* width: 100%; */
    /* padding: .25rem 1.5rem; */
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: left;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}